$colors: (
    home: (
        primary: #FD8F14,
        secondary: #181A17,
    ),
    home-2: (
        primary: #336AEA,
        secondary: #FFF203,
    ),
    home-3: (
        primary: #2371FF,
        secondary: #FF5E14,
    ),
    sub-heading: (
        primary: #336AEA,
        secondary: #FF5E14,
    ),
    heading: (
        primary: #181A17,
        secondary: #0A3846,
        ternery: #062E39,
    ),
    common: (
        white: #ffffff,
        black: #696969,
    ),
    grey: (
        1:#F2F2F212,
        2:rgba(219, 219, 219, 0.15),
    ),
    text: (
        body:#747474,
    ),
    border: (
        1: #DDDDDD,
        2: #E2E4ED,
    )
);
